<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39338351827-6k9822cd1tlkner1rtbuqhjjjr4on5r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39338351827-6k9822cd1tlkner1rtbuqhjjjr4on5r6</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Pi5Efha7Je6sYWaWIJ74IyovYGOWS_c</string>
	<key>GCM_SENDER_ID</key>
	<string>39338351827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonahaung.HomeForYou</string>
	<key>PROJECT_ID</key>
	<string>home-for-you-db25b</string>
	<key>STORAGE_BUCKET</key>
	<string>home-for-you-db25b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:39338351827:ios:ed9aa865dffb8d897a8826</string>
</dict>
</plist>
